/* Reset the page */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Entire page */
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f8fbff;
    color:#222;
}

/* Navigation Bar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;

    background:white;

    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

nav h2{
    color:#0b3b78;
    font-size:30px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav li{
    cursor:pointer;
    font-weight:bold;
}

/* Hero Section */

.hero{

    height:85vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

}

.company{

    color:#4a7dbf;

    font-size:18px;

    margin-bottom:20px;

}

.hero h1{

    font-size:60px;

    color:#0b3b78;

    margin-bottom:20px;

}

.description{

    width:700px;

    max-width:90%;

    font-size:20px;

    line-height:1.8;

    margin-bottom:40px;

}

/* Buttons */

.buttons{

    display:flex;

    gap:20px;

}

button{

    padding:15px 35px;

    border:none;

    border-radius:10px;

    font-size:17px;

    cursor:pointer;

}

.primary{

    background:#0b3b78;

    color:white;

}

.secondary{

    background:#25D366;

    color:white;

}